@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Quicksand&display=swap');

body {
  background-color: #EFF2EF;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: ;
  line-height: normal;
  text-align: center;
}

h1, h2, h3 {
  color: #592941;
  font-family:'Quicksand', sans-serif;
}

h1 {
  font-size: ;
  line-height: 150%;
}

p {
  text-align: center;

}

div {
  background-color: #FFFFFC;
  align-items: center;
  padding: 30px;

}

.container {
  margin: 0 auto;
}

.card {
  width: 70%;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 0 auto 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #F49FBC;
}

.btn-blue {
  color:#FFFFFC;
  background-color: #7284A8;
  margin: 5 px;
  padding: 5px;
  border-radius: 3px;
}

.btn-blue:hover {
  color: #592941;
  background-color: #C0C8D8;
}


.list-inline {
  list-style: none;
  padding: 0;
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.round-img {
  width: 80px;
  border-radius: 50%;
}

#leader {
  width: 100px;
}

.social {
  font-size: 20px;
}


/*@media (max-width: 960px) {*/
  /* For a screen < 960px, this CSS will be read */
 /* .container {*/
 /*   width: 700px;
  }
}*/
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
